
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Agregar Contacto</h3>
</div>
<div class="modal-body">
    <form class="form-horizontal" id="gurardar_contacto" method="post" action="">
        <input type="hidden" name="total" id="total" value="0">
        <div class="control-group">
            <label class="control-label" for="nombre">Nombre</label>
            <div class="controls">
                <input type="text" id="nombre" name="nombre" placeholder="Nombre">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="correo">Correo Electr&oacute;nico</label>
            <div class="controls">
                <input type="text" id="correo" name="correo" placeholder="Correo Electr&oacute;nico">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="direccion">Direcci&oacute;n</label>
            <div class="controls">
                <input type="text" id="direccion"  name="direccion" placeholder="Direcci&oacute;n">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="telefono-0">Tel&eacute;fono</label>
            <div class="controls">
                <input type="text" id="telefono-0" name="telefono-0" placeholder="Tel&eacute;fono" >
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <input type="button" id="agregar_tel" name="agregar_tel" class="btn btn-primary" value="Agregar telefono">
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true" type="reset">Cerrar</button>
    <button class="btn btn-success" type="button" id="guardar" >Guardar</button>
</div>
