<?php
/*
echo $this->mensaje;
?>
<a href="<?php echo $this->url(array('controller'=>'contacto'), 'default', true) ?>">Usuarios</a>
<?php
*/
?>
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <!--<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">-->

    <title>Listado de contactos</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="css/jquery-ui.css">
    <link rel="stylesheet" type="text/css" media="screen" href="css/bootstrap.min.css" >
    <link rel="stylesheet" type="text/css" media="screen" href="css/bootstrap-responsive.css" >
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css"/>
    <style>
        body {
            padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
        }
    </style>

    <script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript" src="js/jquery-ui.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="//cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="js/jquery.validate.js"></script>
    <script type="text/javascript" src="/js/additional-methods.min.js"></script>
    <script type="text/javascript" src="js/list.contacto.js"></script>
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="brand" href="#">Agenda de Contactos</a>
            </div>
    </div>
</div>

<div class="container">

    <div class="row">
        <div class="span1">
            <a class="btn btn-primary btn-large" id="agregar" href="#myModal" role="button" class="btn" data-toggle="modal" >
                Agregar
            </a>
        </div>
    </div>

    <table id="list_contac" class="table table-striped table-bordered table-hover" >
        <thead>
        <tr>
            <th>Nombre</th>
            <th>Tel&eacute;fono</th>
            <th>Correo Electr&oacute;nico</th>
            <th>Direcci&oacute;n</th>
            <th>Detalle</th>
        </tr>
        </thead>
    </table>

</div> <!-- /container -->
<!-- Modal -->
<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

</div>
</body>
</html>