<?php
/*
echo $this->mensaje;
?>
<a href="<?php echo $this->url(array('controller'=>'contacto'), 'default', true) ?>">Usuarios</a>
<?php
*/
?>
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <!--<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">-->

    <title>Listado de contactos</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="/css/jquery-ui.css">
    <link rel="stylesheet" type="text/css" media="screen" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="/css/bootstrap-responsive.css">
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css"/>
    <style>
        body {
            padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
        }
    </style>

    <script type="text/javascript" src="/js/jquery.js"></script>
    <script type="text/javascript" src="/js/jquery-ui.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="//cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="/js/jquery.validate.js"></script>
    <script type="text/javascript" src="/js/additional-methods.min.js"></script>
    <script type="text/javascript" src="/js/form.telefono.js"></script>
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="brand" href="#">Agenda de Contactos</a>
        </div>
    </div>
</div>

<div class="container">

    <div class="row">
        <div class="span1">
            <a class="btn btn-primary btn-large" href="/">
                Listado
            </a>
        </div>
    </div>
    <div class="row">
        <div class="span12">
            <fieldset>
                <legend>Contacto</legend>
                <form class="form-horizontal" id="form_telefono" name="form_telefono">
                    <input type="hidden" name="id" id="id" value="<?php echo $this->id; ?>">
                    <input type="hidden" name="id_contacto" id="id_contacto" value="<?php echo $this->id_contacto; ?>">
                    <div class="control-group">
                        <label class="control-label" for="nombre">Nombre</label>
                        <div class="controls">
                            <input type="text" id="nombre" name="nombre" placeholder="Nombre"
                                   value="<?php echo $this->nombre; ?>">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="correo">Correo Electr&oacute;nico</label>
                        <div class="controls">
                            <input type="text" id="correo" name="correo" placeholder="Correo Electr&oacute;nico"
                                   value="<?php echo $this->correo; ?>">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="direccion">Direcci&oacute;n</label>
                        <div class="controls">
                            <input type="text" id="direccion" name="direccion" placeholder="Direcci&oacute;n"
                                   value="<?php echo $this->direccion; ?>">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="telefono">Tel&eacute;fono</label>
                        <div class="controls">
                            <input type="text" id="telefono" name="telefono" placeholder="Tel&eacute;fono"
                                   value="<?php echo $this->numero; ?>">
                        </div>
                    </div>
                    <!-- Button (Double) -->
                    <div class="control-group">
                        <label class="control-label" for="button1id"></label>
                        <div class="controls">
                            <button id="cancelar" class="btn" type="reset">Cancelar</button>
                            <button id="editar" class="btn btn-success" type="button">Guardar</button>
                        </div>
                    </div>
                </form>
            </fieldset>
        </div>
    </div>
</div> <!-- /container -->
<!-- Modal -->
<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">Editar Contacto</h3>
    </div>
    <div class="modal-body">
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true" type="reset">Cerrar</button>
    </div>
</div>
</body>
</html>